

:root {
    --color-yellow-primary: #f0b429;
    --color-blue-background: #1b2a5e;
    --color-grey-foreground: #bebebe;
    --color-grey-background: #ecedf0;
    --color-yellow-secondary: #e2c379;
}